# Environment variables
.env

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
.venv/
env/
ENV/

# Databases & Backups
data/
*.sqlite
*.sqlite3
*.db

# Logs
logs/
*.log

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
